body 
{
  background: #111;
  color: white;
  text-align: center;
  font-family: monospace;
}

.machine 
{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px auto;
}

.column 
{
  width: 80px;
  height: 240px;
  overflow: hidden;
  border: 3px solid orange;
  background: black;
  position: relative;
}

.symbols 
{
  position: absolute;
  width: 100%;
}

.symbol 
{
  height: 80px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinButton 
{
  padding: 12px 24px;
  font-size: 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.symbol.win 
{
  border: 2px solid orange;
  background: yellow;
  animation: winFlash 0.2s alternate 15;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#scoreDisplay
{
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

#spinScoreDisplay
{
  font-size: 20px;
}

#instructions
{
  margin-top: 50px;
}

@keyframes winFlash 
{
  from {
    background: gold;
  }

  50% {
    background: orange;
  }

  to {
    background: red;
  }
}